* text=auto
*.md text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.cs text eol=lf
*.ini text eol=lf
*.csv text eol=lf
*.uproject text eol=lf
*.uasset filter=lfs diff=lfs merge=lfs -text
*.umap filter=lfs diff=lfs merge=lfs -text
SourceAssets/QuaterniusNature/FBX/*.fbx filter=lfs diff=lfs merge=lfs -text
SourceAssets/QuaterniusNature/glTF/*.bin filter=lfs diff=lfs merge=lfs -text
SourceAssets/QuaterniusNature/Textures/*.png filter=lfs diff=lfs merge=lfs -text
SourceAssets/HubDonors/KenneyPirateKitCC0/FBX/*.fbx filter=lfs diff=lfs merge=lfs -text
SourceAssets/HubMaterials/*.png filter=lfs diff=lfs merge=lfs -text
